/* @keyframes rotate-around {
  0% {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}
.icon-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.icon-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} */
